/* Fix overflow orizzontale mobile */
#primoBg {
    background-image: url('../assets/index/homepageBackGround.png');
    background-size: cover;
    background-position: center;
    height: clamp(500px, 80vh, 1000px);
    overflow: hidden;
}

.lenguaBox {
    transition: all 0.8s ease;
    background-color: #e1b283;
}

.lucellaBox {
    transition: all 0.8s ease;
    background-color: #6459b0;
}

.neveneBox {
    transition: all 0.8s ease;
    background-color: #006451;
}

/* Da medium (≥768px) in poi*/
@media (min-width: 768px) {
    #fotoVigna {
        width: 100%;
        max-width: 500px;
    }

    .lenguaBox {
        background-color: transparent;
    }

    .lenguaBox:hover {
        background-color: #e1b283;
    }

    .lucellaBox {
        background-color: transparent;
    }

    .lucellaBox:hover {
        background-color: #6459b0;
    }

    .neveneBox {
        background-color: transparent;
    }

    .neveneBox:hover {
        background-color: #006451;
    }
}

@media (max-width: 767px) {
    #primoBg {
        height: 400px;
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 768px) {
    .footer-dark {
        padding-left: 0;
        padding-right: 0;
    }
}